/* Requsito 3 estilizacao */

.header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: rgb(50, 167, 145);
  height: 60px;
  padding: 8px;
}

/* Requisito 5, 6 e 7 */

.main-content {
  display: flex;
  margin-left: 15%;
}
#evaluation-form {
  display: flex;
  height: 624px;
  width: 675px;
  flex-direction: column;
}